

.navbar{
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    
}

#intro-banner {
    background-image: url(/assets/jumbotron2.jpg);
    height: 35em;
    background-position:center;
    background-size: cover;

    
}

.jumbotron-text {
    color:white;
    text-align: center;
    padding-top: 5em;
    
}

.jumbotron-button {
    opacity: 0.9;
}


.content1 {
    padding-bottom: 6em;
}


.content2 {
    background-color: #EDEDED;
    padding: 1em 1em 1em 3em;
    text-align: left;
    font-size: 1em;
}

.content2text {
    padding-top: 6em;
    padding-bottom: 4em;  
}

.content2text h3 {
    padding-bottom: 0.4em;
}

.content2text p {
    padding-bottom: 1em;
}

.content3 {
    background-image: url(/assets/teacolors.jpg);
    height: 40em;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-left:0.5em;
    padding-right: 0.5em;
}

.content3text h1 {
    font-size:4em;
}

.content3text p {
    font-size: 2em;
}

.content3text {
    color:white;
    padding-top: 2em;
    padding-left:1em;
    padding-right: 1em;
    margin-left: auto;
}

.content4text img {
    height:10em;
    width: 10em;
    margin-left: auto;
    margin-right: auto;  
}

.content4text h1 {
    text-align: center;   
}

.content4text {
    padding: 2em 4em 2em 4em;
    font-size: 1em;  
}

.logo-bottom {
    text-align: center;  
}


