

.navbar{
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    
}

#intro-banner {
    background-image: url(/assets/jumbotron2.jpg);
    height: 35em;
    background-position:center;
    background-size: cover;

    
}

.jumbotron-text {
    color:white;
    text-align: center;
    padding-top: 5em;
    
}

.jumbotron-button {
    opacity: 0.7
}


.content1 {
    padding-bottom: 6em;
}


.content2 {
    background-color: lightgray;
    padding: 1em 1em 1em 3em;
    text-align: left;
    font-size: 1em;
}

.content2text {
    padding-top: 6em;
    padding-bottom: 4em;  
}

.content2text h3 {
    padding-bottom: 0.4em;
}

.content2text p {
    padding-bottom: 1em;
}

