body {
    padding: 12px;
    padding-top: 50px;
}

.navbar{
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    
}

.footer-bar {
    background-color: white;
    padding-left: 48%;
}

.footer-social {
    
}

.footer-brand {
    text-align: center;
    padding-top: 0em;
}

#intro-banner {
    background-image: url(/assets/jumbotron2.jpg);
    height: 35em;
    background-position:center;
    background-size: cover;
}

.jumbotron-text {
    color:white;
    text-align: center;
    padding-top: 5em;
    
}

.jumbotron-button {
    opacity: 0.9;
}


.content1 {
    padding-bottom: 6em;
    font-size:1.2em;
}


.content2 {
    background-color: #EDEDED;
    padding: 1em 1em 1em 1em;
    text-align: left;
    font-size: 1.2em;
}

.content2text {
    padding-top: 4em;
    padding-bottom: 4em;  
}

.content2text h3 {
    padding-bottom: 0.4em;
}

.content2text p {
    padding-bottom: 1em;
}

.content3 {
    background-image: url(/assets/teacolors.jpg);
    height: 45em;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-left:0.5em;
    padding-right: 0.5em;
}

.content3text h1 {
    font-size:4em;
}

.content3text p {
    font-size: 2em;
}

.content3text {
    color:white;
    padding-top: 2em;
    padding-left:1em;
    padding-right: 1em;
    margin-left: auto;
}

.content4text img {
    height:10em;
    width: 10em;
    margin-left: auto;
    margin-right: auto;  
}

.content4text h1 {
    text-align: center;   
}

.content4text {
    padding: 2em 1em 2em 1em;
    font-size: 1.2em;  
}

.logo-bottom {
    text-align: center;
}

#acontent1 {
    background-color: white;
    color: black;
    padding-top: 4em;
    text-align: center;
    height: 10em;
}

.r2content1 {
    background-color: #8EFF4E;
    color:white;
    height: 14em;
    font-size: 1em;
    text-align: center;
    padding-top: 4em;
}

.r2content2 {
    height: 11.7em;
    font-size: 1.2em;
    padding-top: 3em;
    background-color: slategrey;
    color:white;  
}

.contactBackground {
    height:40em;
    width: 40em;
}

.contactContent {
    background-color: white;
    padding: 2em 1em 1em 1em;
    text-align: left;
    font-size: 1.2em;
}

.contactText {
    text-align: center;
    padding-top: 1em;
    
}

.gurantee {
    width:10em;
    height:10em;  
}

/*Catalogue page*/
.all-items {
    padding-top: 1em;
}

.modal-primary {
    background-color: limegreen;
    color: white;
}

.faq {
    font-size: 14px;
    
}
